body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.full-top {
    height: 54px;
    width: 100vw;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    z-index: 2;
    border-bottom: solid;
    border-color: #DBDBDB;
    border-width: 2px;
}

.topo {
    height: 54px;
    width: 935px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 216px;
    margin-right: 216px;
    position: fixed;
    top: 0px;
}

.logo {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo div{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}

.logo img{
    margin-top: 5px;
}

.logo ion-icon{
    width: 22px;
    height: 22px;
}

.search{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search p{
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}

.functions {
    width: 145px;
    display: flex;
    justify-content: space-evenly;
}

.functions ion-icon{
    width: 22px;
    height: 22px;
}

.stories {
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    margin-top: 48px;
    margin-left: 215px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    border: solid;
    border-color: #DBDBDB;
    border-width: 2px;
}

.single-str {
    margin-left: 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgrnd-img {
    height: 66px;
    width: 66px;
    border-radius: 33px;
}

.str-img{
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 28px;
    left: 5px;
    top: 5px;
    object-fit: cover;
}

.single-str p {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
}

.str-seta ion-icon {
    position: absolute;
    height: 26px;
    width: 26px;
    right: 8px;
    top: 46px;
    color: #FFFFFF;
    z-index: 1;
}

.posts {
    margin-top: 1px;
}

.post11 {
    background-color: #FFFFFF;
    width: 614px;
    height: 749px;
    margin-left: 215px;
    margin-top: 24px;
    margin-bottom: 60px;
    border: solid;
    border-color: #DBDBDB;
    border-width: 2px;
}

.post1 {
    background-color: #FFFFFF;
    width: 614px;
    height: 749px;
    margin-left: 215px;
    margin-top: 24px;
    margin-bottom: 60px;
    border: solid;
    border-color: #DBDBDB;
    border-width: 2px;
}

.post-topo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-topo img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-left: 17px;
}

.post-topo h1{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    margin-left: 15px;
}

.post-topo ion-icon{
    height: 16px;
    width: 16px;
    margin-right: 17px;
}

.post-topo div{
    display: flex;
    align-items: center;
}

.post-img {
    height: 612px;
    width: 614px;
}

.post-bottom {
    height: 76px;
}

.post-bottom img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 17px;
}

.post-bottom-icons {
    display: flex;
    justify-content: space-between;
}

.post-bottom-icons-left {
    margin-left: 15px;
}

.post-bottom-icons-left ion-icon {
    height: 22px;
    width: 22px;
    margin-top: 10px;
}

.post-bottom-icons-right ion-icon{
    width: 18px;
    height: 18px;
    margin-top: 14px;
    margin-right: 18px;
}

.post-bottom-likes {
    display: flex;
}

.post-bottom-likes p{
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
    margin-top: 13px;
}

.post-bottom-likes strong{
    font-weight: 500;
}

.inferior-bar {
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.inferior-bar ion-icon {
    font-size: 22px;
}

.inferior-inside {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-bar {
    /*background-color: #E5E5E5;*/
    width: 293px;
    position: fixed;
    left: calc(50% + 180px);
    top: 109px;
}

.fixed-top {
    display: flex;
}

.fixed-top img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.up {
    font-size: 14px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 17px;
}
.down {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 17px;
}

.fixed-top strong {
    font-weight: 500;
}

.sugest-text {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.sugest-text p{
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}


.sugest-text b{
    color: #262626;
}

.sugests {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.sugests-left {
    display: flex;
}

.sugests-left img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-top: 12px;
}

.sugest-up {
    font-size: 14px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 17px;
    color: #262626;
}
.sugest-down {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 17px;
    color: #8E8E8E;
}

.follow {
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    color: #139EF2;
}

.legal-info {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
    margin-top: 33px;
}

.copyright {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
    margin-top: 18px;
}

.inferior-bar {
    display: none;
}

@media (max-width: 935px){
    .fixed-bar {
        display: none;
    }

    .inferior-bar {
        display: none;
    }

    .topo {
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
        position: fixed;
        top: 0px;
    }
    
    .stories {
        margin-left: 0px;
        margin-right: 0px;
    }

    .post1 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .post11 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .center-page {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post11 {
        border: solid;
        border-color: #DBDBDB;
        border-width: 2px;
    }

    .post1 {
        border: solid;
        border-color: #DBDBDB;
        border-width: 2px;
    }
}

@media (max-width: 614px) {

    .inferior-bar {
        display: flex;
    }

    .center-page {
        width: 100vw;
    }

    .full-top {
        display: none;
    }

    .topo {
        width: 100vw;
    }

    .full-top-mobile {
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        position: fixed;
        top: 0px;
        z-index: 2;
    }

    .topo-mobile {
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .topo-mobile ion-icon {
        font-size: 24px;
    }

    .stories-full {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .stories {
        margin-top: 55px;
        margin-bottom: -25px;
        /*margin-left: 260px;*/
        position: relative;
        right: 0px;
        left: 0px;
        background-color: #E5E5E5;
        width: 614px;
        overflow: hidden;
        border: none;
    }

    .str-seta {
        display: none;
    }

    .center-page {
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;   
    }

    .posts {
        width: 100vw;
    }

    .post11 {
        border: solid;
        border-color: #DBDBDB;
        border-width: 2px;
    }

    .post1 {
        border: solid;
        border-color: #DBDBDB;
        border-width: 2px;
    }
}